div {
    .box {
        background: red;
        font-size: 12px;
        &:hover {
            display: block;
            -ms-line-break: strict;
            background: transparent
        }
    }
}